# Ambiente da aplicação (dev, prod)
ENVIRONMENT=

# Configurações do Banco de Dados
DB_HOST=localDoBancoDeDados
DB_DATABASE=nomeDoBancoDeDados
DB_USER=usuarioDoBancoDeDados
DB_PASSWORD=senhaDoUsuarioDoBancoDeDados
DB_PORT=portaBancoDeDados

# Configurações da Aplicação
APP_PORT=portaParaRodar
APP_HOST=localParaRodar

# Chave da API do Google Gemini
GEMINI_API_KEY=chaveDaAPIDoGemini